@media(max-width: 800px){
    #lista ul{
        display: flex;
        flex-direction: column;
    }
}
@media(min-width: 801px){
    #lista ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1301px){
    #lista ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}



#lista ul{
    margin-top: 30px;
    margin-left: 50px;
    padding-bottom: 10px;
}

#lista li{
    background-image: url("fundo_churras.jpg");
    background-color: "back";
    width: 350px;
    height: 180px;
    margin: 0px 10px 30px 20px;
    
    border: 1px solid #000000;
    border-radius: 5%;
    font-size: 12px;
    box-shadow: 3px 6px 3px rgba(50, 50, 50, 0.27);
    transition: 0.1s;
}

#lista li p{
    margin-top: 10px;
    margin-bottom: 20px;
}

#link{
    
    padding: 30px 0 0 30px;
    width: 300px;
    height: 220px;
}

#lista li:hover{
    position: relative;
    margin: 5px 0px 25px 25px ;
    box-shadow: 1px 3px 3px rgba(50, 50, 50, 0.27);
}

