#detalhes #header{
    height: 160px;
    background-color: #E87738;
    margin-top: 0;
    padding-top: 30px;
}

#detalhes #header h1{
    color: #ffffff !important;
    font-size: 36px;
    font-weight: 900;
}

#detalhes #header h2{
    color: #ffffff !important;
    padding-top: 5px;
    font-size: 26px;
    font-weight: 50;
    display: flex;
    justify-content: center;
}

#arrumar-itens1{
    width: 50%;
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#form-criar1 form{
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

#caracteristica1{
    width: 50%;
    margin-left: 300px;
    margin-top: 30px;
    position: absolute;
    
}




#form-criar1 input{
    margin-bottom: 10x;
}

#origem-teste{
    margin-bottom: 5px;
}

#carne{
    max-width:12%;
    height: auto;
    margin-left: 300px;
    transform: rotate(360deg);
}
#escrita-carne{
    margin-left: 400px;
    margin-top: -50px;
    font-size: xx-large !important;
}



#cerveja{
    max-width:10%;
    height: auto;
    margin-left: 300px;
    margin-top:20px;
}
#escrita-cerveja{
    margin-left: 400px;
    margin-top: -50px;
}


#frango{
    max-width:10%;
    height: auto;
    margin-left: 300px;
}
#escrita-frango{
    margin-left: 400px;
    margin-top: -50px;
}


#linguica{
    max-width:12%;
    height: auto;
    margin-left: 300px;
    margin-top:20px;
}
#escrita-linguica{
    margin-left: 400px;
    margin-top: -50px;
}


#refrigerante{
    max-width:10%;
    height: auto;
    margin-left: 300px;
}
#escrita-refrigerante{
    margin-left: 400px;
    margin-top: -50px;
}


#destino-itens{
    font-weight: 10;
    font-size: 6px;

}
