#criar #header h1{
    background-color: #1AD274;
    font-weight: 900;
    padding: 30px 0 65px 0;
    color: white !important;
}

#amigos #lista-participantes {
    height: 70px;
    width: 300px;
    background-color:aliceblue;
    box-shadow: 3px 6px 4px rgba(50, 50, 50, 0.4);
    margin-top: 5px;
}

#arrumar-itens{
    margin-left: 850px;
    margin-top: -370px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#arrumar-itens input{
    width: 90px;
}

#form-criar form{
    margin-left: -400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

#form-criar label{
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btn-criar{
    margin-top: 15px;
    margin-left: 400px;
 
}
#botaoCriar{
	-moz-box-shadow: 5px 6px 13px 2px #9fb4f2;
	-webkit-box-shadow: 5px 6px 13px 2px #9fb4f2;
	box-shadow: 5px 6px 13px 2px #9fb4f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e) );
	background:-moz-linear-gradient( center top, #7892c2 5%, #476e9e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e');
	background-color:#7892c2;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
text-indent:0;
	border:1px solid #4e6096;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
height:45px;
	line-height:45px;
width:161px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #283966;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2) );
	background:-moz-linear-gradient( center top, #476e9e 5%, #7892c2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2');
	background-color:#476e9e;
}.classname:active {
	position:relative;
	top:1px;
}


#form-criar input{
    margin-bottom: 5px;
}

#origem-teste{
    margin-bottom: 5px;
}

.botoes {
    display: flex;
    column-gap: 20px;
}

#form-criar button{
    margin-top: 20px;
    margin-bottom: 5px;
}

#carne{
    max-width:12%;
    height: auto;
    margin-left: 300px;
    transform: rotate(360deg);
}
#escrita-carne{
    margin-left: 400px;
    margin-top: -50px;
    font-size: xx-large !important;
}



#cerveja{
    max-width:10%;
    height: auto;
    margin-left: 300px;
    margin-top:20px;
}
#escrita-cerveja{
    margin-left: 400px;
    margin-top: -50px;
}


#frango{
    max-width:10%;
    height: auto;
    margin-left: 300px;
}
#escrita-frango{
    margin-left: 400px;
    margin-top: -50px;
}


#linguica{
    max-width:12%;
    height: auto;
    margin-left: 300px;
    margin-top:20px;
}
#escrita-linguica{
    margin-left: 400px;
    margin-top: -50px;
}


#refrigerante{
    max-width:10%;
    height: auto;
    margin-left: 300px;
}
#escrita-refrigerante{
    margin-left: 400px;
    margin-top: -50px;
}


#destino-itens{
    font-weight: 10;
    font-size: 6px;

}

#botaoAdd{

        -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
        -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
        box-shadow:inset 0px 1px 0px 0px #caefab;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
        background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
        background-color:#77d42a;
        -webkit-border-top-left-radius:6px;
        -moz-border-radius-topleft:6px;
        border-top-left-radius:6px;
        -webkit-border-top-right-radius:6px;
        -moz-border-radius-topright:6px;
        border-top-right-radius:6px;
        -webkit-border-bottom-right-radius:6px;
        -moz-border-radius-bottomright:6px;
        border-bottom-right-radius:6px;
        -webkit-border-bottom-left-radius:6px;
        -moz-border-radius-bottomleft:6px;
        border-bottom-left-radius:6px;
    text-indent:0;
        border:1px solid #268a16;
        display:inline-block;
        color:#306108;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
    height:31px;
        line-height:31px;
    width:48px;
        text-decoration:none;
        text-align:center;
        text-shadow:0px 1px 0px #aade7c;
    }.classname:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
        background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
        background-color:#5cb811;
    }.classname:active {
        position:relative;
        top:1px;
}

#botaoRem{

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f05b5b), color-stop(1, #c21515) );
	background:-moz-linear-gradient( center top, #f05b5b 5%, #c21515 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05b5b', endColorstr='#c21515');
	background-color:#f05b5b;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #000000;
	display:inline-block;
	color:#1a1a1a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:31px;
	line-height:31px;
width:48px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #000000;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c21515), color-stop(1, #f05b5b) );
	background:-moz-linear-gradient( center top, #c21515 5%, #f05b5b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21515', endColorstr='#f05b5b');
	background-color:#c21515;
}.classname:active {
	position:relative;
	top:1px;
}
