#criar #header h1{
    background-color: #1AD274;
    font-weight: 900;
    padding: 30px 0 65px 0;
    color: white !important;
}


#arrumar-itens{
    margin-left: 1000px;
    margin-top: -345px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#form-criar form{
    margin-left: -500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

#form-criar label{
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btn-criar{
    margin-top: 30px;
    margin-left: 400px;
}

#form-criar input{
    margin-bottom: 5px;
}

#origem-teste{
    margin-bottom: 5px;
}

.botoes {
    display: flex;
    column-gap: 20px;
}

#form-criar button{
    margin-top: 20px;
    margin-bottom: 5px;
}

#carne{
    max-width:12%;
    height: auto;
    margin-left: 300px;
    transform: rotate(360deg);
}
#escrita-carne{
    margin-left: 400px;
    margin-top: -50px;
    font-size: xx-large !important;
}



#cerveja{
    max-width:10%;
    height: auto;
    margin-left: 300px;
    margin-top:20px;
}
#escrita-cerveja{
    margin-left: 400px;
    margin-top: -50px;
}


#frango{
    max-width:10%;
    height: auto;
    margin-left: 300px;
}
#escrita-frango{
    margin-left: 400px;
    margin-top: -50px;
}


#linguica{
    max-width:12%;
    height: auto;
    margin-left: 300px;
    margin-top:20px;
}
#escrita-linguica{
    margin-left: 400px;
    margin-top: -50px;
}


#refrigerante{
    max-width:10%;
    height: auto;
    margin-left: 300px;
}
#escrita-refrigerante{
    margin-left: 400px;
    margin-top: -50px;
}


#destino-itens{
    font-weight: 10;
    font-size: 6px;

}
